@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.navbar {
    width: 100%;
    height: 75px;
    background-color: black;
    line-height: 75px;
    padding: 0 100px;

}
.span {
    color: hsl(60, 76%, 42%);
}

.logo {
    float: left;
    color:#fff;
    text-transform: uppercase;
}
.navbar ul {
    float: right;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li {
    display: inline-block;
    list-style: none;
    /* margin-left: 30%; */
}
.navbar ul li a {
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
}
/* home css */
.home {
    display: flex;
    flex-direction: row;
    margin-top: 40px; 
    background-color: chocolate;  
    margin-bottom: 40px;
}
.intro{
    margin-left: 40px;
}
.intro1 {
    margin-left: 140px;
}
.about {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: #fff;
    height: 600px;
}
.about h1{
    text-align: center;
}

.aboutsection1 {
    margin-left: 40px;
    margin-top: 50px;
}
.skills h1 {
   text-align: center;
}
.skills {
    background-color: chocolate;
    color: #fff;
}
.captioning {
    display:flex;
    flex-direction: row;
    margin-left: 100px;
    text-align: center;
    justify-content: flex-start;
}
.skills2 {
    margin-left: 350px;
}
#DNA {
    margin-top: 40px;
}
.marketing {
    display:flex;
    flex-direction: row;
    margin-left: 100px;
    text-align: center;
    justify-content: flex-start;
    margin-top: 20px;
    /* border: 2px solid red; */
}
.skills2 {
    margin-left: 330px;
}
#fep {
    margin-top: 40px;
}
/* projects */
h1 {
    text-align: center;
}
.projects {
    margin-top: 25px;

}
.projectlinks { 
    display:flex;
    flex-direction: row;
    text-align: center;


}
.projectidea {
    margin-left: 280px;
 
}
.projectideas {
    margin-left: 150px;

}
.projectlinks2 {
        display:flex;
        flex-direction: row;
        text-align: center;
}

